 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    height: 200vh;
    background: linear-gradient(135deg, #3D313F     , #847072, #dcc1b0);
  }

  .navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  }

  
  .logo {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
  }

   .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    transition: 0.3s;
  }

  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #00e5ff;
    transition: 0.3s;
  }

  .nav-links a:hover::after {
    width: 100%;
  }

  .btn {
    padding: 8px 18px;
    border-radius: 20px;
    background: linear-gradient(45deg, #869dab, #869dab);
    color: #000;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
  }

  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,229,255,0.6);
  }

  